<h4><%= t('view.task') %><%= t('view.create') %></h4>

<%= render 'form', task: @task, class: "btn btn-outline-dark btn-sm"  %>

<%= link_to '戻る', tasks_path, class: "btn btn-outline-dark btn-sm"  %>
