@import "bootstrap";
@import "simple_calendar";


body {
    margin-top: 100px;
  }

.readsign {
  color: #000099;
  background-color: #CCFFFF;
  font-weight: bold;
}

.makespace {
  margin: 10px;
}

.calendar-heading {
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

.calendar-title {
  font-size: 2em;
}

.cal-container {
  display: table;
  margin: 0 auto;
}
.cal-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 180px;
}

.label-list {
    list-style-type: square;
    margin-left: 10px;
}
